{% extends 'eBord/basic.html' %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
    <div class="add-form">
        <h2>{{ title }} пользователя {{ user.username }}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if user.is_authenticated %}
                    <input type="submit" value="Сменить" class="form-btn">
                {% else %}
                    <input type="submit" value="Восстановить" class="form-btn">
                {% endif %}
            </form>
    </div>
{% endblock content %}