{% extends 'eBord/basic.html' %}
{% block title %}
Регистрация
{% endblock title %}
{% block content %}
    <div class="add-form">
    <h2>Регистрация нового пользователя</h2>
    {% if user.is_authenticated %}
        <p>Вы уже зарегистрированы {{ user.username }}.</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li><em>{{ error|escape }}</em></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form.visible_fields %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li><em>{{ error|escape }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-add-view">
                <p>{{ field.label_tag }}<br>{{ field }}</p>
                <p class="help-text">{{ field.help_text }}</p><br>
            </div>
        {% endfor %}
        <input type="submit" value="Зарегистрироваться" class="form-btn">
        <hr>
        <p>Уже зарегистрированы ?</p>
            <a href="{% url 'login' %}">Войти</a>
    </form>
    </div>
    {% endif %}
{% endblock content %}