{% extends "eBord/basic.html" %}
{% block title %}
    Категория товара: {{ current_category.name }}
{% endblock title %}
{% block content %}
    <div class="abs">
        <h1>Категория товара: {{ current_category.name }}</h1>
            {% for item in items %}
                <div class="cat-abs">
                    <a href="{% url 'detail' item.pk %}">
                    <ul class="advertisement">
                        <li class="title-abs">{{ item.title|capfirst }}</li>
                        <li><img src="{{ item.image.url }}" height="200" width="200"></li>
                        <hr>
                        <li class="content-abs"><p>Описание: </p>{{ item.content|capfirst|truncatewords:5 }}</li>
                        <li><p>Цена: </p>{{ item.price }} Руб.</li>
                        </ul>
                        </a>
                </div>
            {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="page-btn">
            <a href="{% url "all_ads" %}">Начало</a>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" >Предыдущая</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" >Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}